$primaryHover:#017BCE;
$primary:#026CB4;
$fontColorW:#fff;
$fontFamily:Arial,
"微软雅黑";
$fontSizeTitle:1.8rem;
$fontSizeNav:1.6rem; //导航栏标题字体大小
$fontSize:1.4rem;
$fontSizeSmall:1.2rem;
$backGroundColor:rgba(29, 43, 131, .24);//工具条背景色
$backGroundColorDeep:rgba(4,27,67,0);
$colorBackground:#b2d1bf;
$colorBackgroundDeep:#7BA676;
$colorBackgroundActive:rgba(255,138,61,0.7);
$borderColor:rgba(16,112,137,1);
$borderColorW:rgba(255,255,255,0.1);
$borderColorActive:#91B9EA;

