$primaryHover:#017BCE;
$primary:#026CB4;
$fontColorW:#fff;
$fontFamily:Arial,
"微软雅黑";
$fontSizeTitle:18px;
$fontSizeNav:16px; //导航栏标题字体大小
$fontSize:14px;
$fontSizeSmall:12px;
$backGroundColor:#F5F5F5;
$backGroundColorDeep:#E0E0E0;
$colorBackground:#b2d1bf;
$colorBackgroundDeep:#7BA676;
$borderColor:#CCCCCC;
$borderColorActive:#91B9EA;
$fontColor:#666666; //表单内容、文字内容颜色、突出地方加粗
$fontColorDeep:#333333; //各个模块的标题字颜色、重要地方加粗
$fontColorLimit:#999999; //文字内容需要弱化颜色
//互联网模块
$internetBg:rgba(5,51,100,1); //背景色
$selectBg:#0079c5;//下拉框背景
$hoverBg:#0079c5;//下拉框,日期-悬浮背景
$disableBg:rgba(37,60,92,0.5);//日期-禁止颜色
$activeColor:#4D91FF; //选中
$tableHeadBg:rgba(88,141,197, 0.5); //表格头部背景